# <div style="text-align:center">ÌååÏù¥Ïç¨Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑù ÌîÑÎ°úÏ†ùÌä∏- 9Ï£ºÏ∞® <br/> < 1Ïù∏ Í∞ÄÍµ¨Ïùò Î≥ÄÌôî ></div>

<div style="text-align: right"> <b>Í∞ïÎÇ®ÎåÄÌïôÍµê Í∏ÄÎ°úÎ≤åÍ≤ΩÏòÅÌïôÎ∂Ä <br/> 201902126 ÌïúÏÑ±Ï£º</b></div>
    

    
## üìç Î™©Ï∞®

- Ï£ºÏ†ú ÏÑ†Ï†ï
    
- Î∂ÑÏÑù Î∞©Ìñ•
    
- Í∏∞Ï¥à Î∂ÑÏÑù

- Ïã¨Ìôî Î∂ÑÏÑù
    
- Í≤∞Í≥º Î∞è ÏãúÏÇ¨Ï†ê
   
- Ï∞∏Í≥† Î¨∏Ìóå

## 1. Ï£ºÏ†ú ÏÑ†Ï†ï

    ÌîÑÎ°úÏ†ùÌä∏ Í≥ºÏ†ú 1Ï∞® Ï†úÏ∂ú ÎãπÏãú ÏßÄÏó≠Î≥Ñ Í¥ÄÍ¥ëÏßÄ Î∞©Î¨∏Ïûê ÏàòÏôÄ SNS Ïù∏Í∏∞ Î™ÖÏÜåÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Î∂ÑÏÑùÌïòÍ≥†Ïûê ÌïòÏòÄÏäµÎãàÎã§. ÌïòÏßÄÎßå ÍµêÏàòÎãòÍªò Î∞õÏùÄ ÌîºÎìúÎ∞±ÏùÑ ÌÜµÌï¥ Ïù¥ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Í≤∞Í≥ºÍ∞Ä Ïú†ÏùòÎØ∏ÌïòÏßÄ ÏïäÏùÑ Í≤ÉÏù¥Îùº ÌåêÎã®ÌïòÏó¨ Ï£ºÏ†úÎ•º Î≥ÄÍ≤ΩÌïòÍ∏∞Î°ú ÌïòÏòÄÏäµÎãàÎã§. Î≥¥Îã§ ÌòÑÏã§Ï†ÅÏù¥Î©¥ÏÑú Í∞ÄÏπòÍ∞Ä ÏûàÎäî Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ï£ºÏ†úÎ•º Ï∞æÍ≥†Ïûê ÌïòÏòÄÏäµÎãàÎã§. 
    
    ÌòÑÏû¨ Ï†ÄÏùò Í±∞Ï£º ÌòïÌÉúÏù∏ 1Ïù∏ Í∞ÄÍµ¨Ïóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏùÑ Ìï¥Î≥¥Îäî Í≤ÉÏù¥ Ìù•ÎØ∏Î°≠Í≤†Îã§Îäî ÏÉùÍ∞ÅÏùÑ ÌïòÍ≤å ÎêòÏóàÏäµÎãàÎã§. 1Ïù∏ Í∞ÄÍµ¨Ïùò Ïó∞ÎèÑÎ≥Ñ Ï∂îÏù¥Î•º Î∂ÑÏÑùÌïòÍ≥† 1Ïù∏ Í∞ÄÍµ¨Ïùò ÏûêÏÇ∞, Î∂ÄÏ±Ñ, ÏÜåÎπÑÌòïÌÉú, ÌòºÏù∏Î•† Îì±ÏùÑ Î∂ÑÏÑùÌïòÏó¨ ÌòÑÎåÄÏÇ¨ÌöåÏóêÏÑú 1Ïù∏ Í∞ÄÍµ¨Ïùò ÌùêÎ¶ÑÏùÑ ÌååÏïÖÌïòÍ≥†Ïûê ÌïòÏòÄÏäµÎãàÎã§. Ïù¥Ïùò Í≤∞Í≥ºÏóê Îî∞Îùº ÌòÑÏû¨ ÏÇ¨Ìöå Î¨∏Ï†úÏùò Ìï¥Í≤∞ Î∞©ÏïàÍπåÏßÄ ÎèÑÏ∂úÌïòÎäî Í≤ÉÏù¥ Ïù¥ ÌîÑÎ°úÏ†ùÌä∏Ïùò Î™©Ï†ÅÏûÖÎãàÎã§.

## 2. Î∂ÑÏÑù Î∞©Ìñ•

    Ïö∞ÏÑ†, ÏÑ± Î∞è Ïó∞Î†πÎ≥Ñ 1Ïù∏Í∞ÄÍµ¨ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌï©ÎãàÎã§. Ïó∞ÎèÑÎ≥Ñ 1Ïù∏ Í∞ÄÍµ¨ ÏàòÏùò Ï∂îÏù¥Î•º ÌååÏïÖÌïòÍ≥†, ÏÑ±Î≥Ñ, ÎÇòÏù¥Ïóê Îî∞Î•∏ Ï∞®Ïù¥ÎèÑ ÌôïÏù∏Ìï† Í≤ÉÏûÖÎãàÎã§. Ïù¥Î•º Í∏∞Ï§ÄÏúºÎ°ú ÏûêÏÇ∞ ÌòïÌÉú, ÏÜåÎπÑÌòïÌÉú, ÌòºÏù∏ÏÉÅÌÖå, ÏÜåÎìù Îì±Í≥º ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Î∂ÑÏÑùÌï©ÎãàÎã§. ÌòÑÎåÄ 1Ïù∏ Í∞ÄÍµ¨Ïùò Ïã§ÌÉúÎ•º ÌååÏïÖÌïòÍ≥† Î¨∏Ï†úÏ†êÍ≥º Ìï¥Í≤∞ Î∞©ÏïàÏùÑ Ï†úÏãúÌïòÎèÑÎ°ù ÌïòÍ≤†ÏäµÎãàÎã§.

## 3. Í∏∞Ï¥à Î∂ÑÏÑù

- ÏÑ±Î≥Ñ Î∞è Ïó∞Î†πÎ≥Ñ 1Ïù∏Í∞ÄÍµ¨ Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌï©ÎãàÎã§.

In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('DB/Number_of_single-person_households_by_gender_age.csv', encoding='cp949')
print(df)

     ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨)     Ïó∞Î†πÎ≥Ñ     2017   2017.1   2017.2     2018   2018.1   2018.2  \
0    ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨)     Ïó∞Î†πÎ≥Ñ     1Ïù∏Í∞ÄÍµ¨       ÎÇ®Ïûê       Ïó¨Ïûê     1Ïù∏Í∞ÄÍµ¨       ÎÇ®Ïûê       Ïó¨Ïûê
1            Ï†ÑÍµ≠      Ìï©Í≥Ñ  5618677  2791849  2826828  5848594  2906320  2942274
2            Ï†ÑÍµ≠  20ÏÑ∏ ÎØ∏Îßå    61058    29108    31950    58154    27623    30531
3            Ï†ÑÍµ≠   20~24   393503   183578   209925   402476   183145   219331
4            Ï†ÑÍµ≠   25~29   568288   333886   234402   617468   359636   257832
..          ...     ...      ...      ...      ...      ...      ...      ...
332     Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ   65~69     3996     1656     2340     4209     1770     2439
333     Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ   70~74     3289     1087     2202     3549     1192     2357
334     Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ   75~79     3351      828     2523     3348      830     2518
335     Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ   80~84     2605      472     2133     2662      521     2141
336     Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ  85ÏÑ∏ Ïù¥ÏÉÅ     2035      213     1822     2254      264     1990

        2019   2019.1   2019.2     2020   2020.1   2020.2     2021   2021.1  \
0       1Ïù∏Í∞ÄÍµ¨       ÎÇ®Ïûê       Ïó¨Ïûê     1Ïù∏Í∞ÄÍµ¨       ÎÇ®Ïûê       Ïó¨Ïûê     1Ïù∏Í∞ÄÍµ¨       ÎÇ®Ïûê
1    6147516  3053733  3093783  6643354  3304398  3338956  7165788  3583770
2      59415    28591    30824    76202    35708    40494    54052    25015
3     431750   194984   236766   492331   217262   275069   492845   217737
4     685831   391896   293935   774580   432889   341691   870707   480989
..       ...      ...      ...      ...      ...      ...      ...      ...
332     4584     1995     2589     5350     2376     2974     6327     2822
333     3757     1298     2459     4134     1440     2694     4510     1603
334     3373      812     2561     3368      886     2482     3692      998
335     2684      540     2144     2798      559     2239     3147      669
336     2434      330     2104     2533      369     2164     2881      444

      2021.2
0         Ïó¨Ïûê
1    3582018
2      29037
3     275108
4     389718
..       ...
332     3505
333     2907
334     2694
335     2478
336     2437

[337 rows x 17 columns]

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.head()

,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
0,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê
1,Ï†ÑÍµ≠,Ìï©Í≥Ñ,5618677,2791849,2826828,5848594,2906320,2942274,6147516,3053733,3093783,6643354,3304398,3338956,7165788,3583770,3582018
2,Ï†ÑÍµ≠,20ÏÑ∏ ÎØ∏Îßå,61058,29108,31950,58154,27623,30531,59415,28591,30824,76202,35708,40494,54052,25015,29037
3,Ï†ÑÍµ≠,20~24,393503,183578,209925,402476,183145,219331,431750,194984,236766,492331,217262,275069,492845,217737,275108
4,Ï†ÑÍµ≠,25~29,568288,333886,234402,617468,359636,257832,685831,391896,293935,774580,432889,341691,870707,480989,389718

In [28]:
df.tail(10)

,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
327,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,40~44,6100,3875,2225,6216,3854,2362,6130,3753,2377,6452,3958,2494,7052,4265,2787
328,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,45~49,7531,4654,2877,7904,4804,3100,7972,4819,3153,8010,4857,3153,8024,4829,3195
329,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,50~54,7118,4232,2886,7619,4584,3035,7850,4642,3208,8682,5095,3587,9458,5516,3942
330,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,55~59,7280,3996,3284,7772,4283,3489,7919,4411,3508,8257,4592,3665,8730,4874,3856
331,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,60~64,5824,2838,2986,6550,3254,3296,6931,3369,3562,7723,3884,3839,8490,4343,4147
332,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,65~69,3996,1656,2340,4209,1770,2439,4584,1995,2589,5350,2376,2974,6327,2822,3505
333,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,70~74,3289,1087,2202,3549,1192,2357,3757,1298,2459,4134,1440,2694,4510,1603,2907
334,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,75~79,3351,828,2523,3348,830,2518,3373,812,2561,3368,886,2482,3692,998,2694
335,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,80~84,2605,472,2133,2662,521,2141,2684,540,2144,2798,559,2239,3147,669,2478
336,Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ,85ÏÑ∏ Ïù¥ÏÉÅ,2035,213,1822,2254,264,1990,2434,330,2104,2533,369,2164,2881,444,2437

In [34]:
columns = df.columns
pd.Series(columns)

0     ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨)
1            Ïó∞Î†πÎ≥Ñ
2           2017
3         2017.1
4         2017.2
5           2018
6         2018.1
7         2018.2
8           2019
9         2019.1
10        2019.2
11          2020
12        2020.1
13        2020.2
14          2021
15        2021.1
16        2021.2
dtype: object

In [35]:
index = df.index
index

RangeIndex(start=0, stop=337, step=1)

In [36]:
df.values

array([['ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨)', 'Ïó∞Î†πÎ≥Ñ', '1Ïù∏Í∞ÄÍµ¨', ..., '1Ïù∏Í∞ÄÍµ¨', 'ÎÇ®Ïûê', 'Ïó¨Ïûê'],
       ['Ï†ÑÍµ≠', 'Ìï©Í≥Ñ', '5618677', ..., '7165788', '3583770', '3582018'],
       ['Ï†ÑÍµ≠', '20ÏÑ∏ ÎØ∏Îßå', '61058', ..., '54052', '25015', '29037'],
       ...,
       ['Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ', '75~79', '3351', ..., '3692', '998', '2694'],
       ['Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ', '80~84', '2605', ..., '3147', '669', '2478'],
       ['Ï†úÏ£ºÌäπÎ≥ÑÏûêÏπòÎèÑ', '85ÏÑ∏ Ïù¥ÏÉÅ', '2035', ..., '2881', '444', '2437']],
      dtype=object)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨)  337 non-null    object
 1   Ïó∞Î†πÎ≥Ñ         337 non-null    object
 2   2017        337 non-null    object
 3   2017.1      337 non-null    object
 4   2017.2      337 non-null    object
 5   2018        337 non-null    object
 6   2018.1      337 non-null    object
 7   2018.2      337 non-null    object
 8   2019        337 non-null    object
 9   2019.1      337 non-null    object
 10  2019.2      337 non-null    object
 11  2020        337 non-null    object
 12  2020.1      337 non-null    object
 13  2020.2      337 non-null    object
 14  2021        337 non-null    object
 15  2021.1      337 non-null    object
 16  2021.2      337 non-null    object
dtypes: object(17)
memory usage: 44.9+ KB

In [23]:
df.describe()

,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
count,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337
unique,22,17,335,336,336,336,336,336,336,336,336,337,334,334,337,332,334
top,Ïö∏ÏÇ∞Í¥ëÏó≠Ïãú,45~49,15202,1308,8704,2544,13000,5197,11674,1299,6812,1Ïù∏Í∞ÄÍµ¨,8591,4046,1Ïù∏Í∞ÄÍµ¨,200,5404
freq,16,21,2,2,2,2,2,2,2,2,2,1,2,2,1,2,2

In [25]:
df.describe(include='O')

,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
count,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337
unique,22,17,335,336,336,336,336,336,336,336,336,337,334,334,337,332,334
top,Ïö∏ÏÇ∞Í¥ëÏó≠Ïãú,45~49,15202,1308,8704,2544,13000,5197,11674,1299,6812,1Ïù∏Í∞ÄÍµ¨,8591,4046,1Ïù∏Í∞ÄÍµ¨,200,5404
freq,16,21,2,2,2,2,2,2,2,2,2,1,2,2,1,2,2

In [26]:
for col in df.columns:
    if df[col].dtype == 'object': 
        categories = df[col].unique() 
        print(f'[{col}] ({len(categories)})')

[ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨)] (22)
[Ïó∞Î†πÎ≥Ñ] (17)
[2017] (335)
[2017.1] (336)
[2017.2] (336)
[2018] (336)
[2018.1] (336)
[2018.2] (336)
[2019] (336)
[2019.1] (336)
[2019.2] (336)
[2020] (337)
[2020.1] (334)
[2020.2] (334)
[2021] (337)
[2021.1] (332)
[2021.2] (334)

In [37]:
df.shape

(337, 17)

In [38]:
df.size

5729

In [44]:
df.iloc[:16, :]
# Ï†ÑÍµ≠Ïùò Îç∞Ïù¥ÌÑ∞Îßå ÌïÑÏöîÌïòÍ∏∞ ÎïåÎ¨∏Ïóê ÌñâÏùÑ ÏûêÎ•∏Îã§.

,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
0,ÌñâÏ†ïÍµ¨Ïó≠Î≥Ñ(ÏãúÍµ∞Íµ¨),Ïó∞Î†πÎ≥Ñ,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê,1Ïù∏Í∞ÄÍµ¨,ÎÇ®Ïûê,Ïó¨Ïûê
1,Ï†ÑÍµ≠,Ìï©Í≥Ñ,5618677,2791849,2826828,5848594,2906320,2942274,6147516,3053733,3093783,6643354,3304398,3338956,7165788,3583770,3582018
2,Ï†ÑÍµ≠,20ÏÑ∏ ÎØ∏Îßå,61058,29108,31950,58154,27623,30531,59415,28591,30824,76202,35708,40494,54052,25015,29037
3,Ï†ÑÍµ≠,20~24,393503,183578,209925,402476,183145,219331,431750,194984,236766,492331,217262,275069,492845,217737,275108
4,Ï†ÑÍµ≠,25~29,568288,333886,234402,617468,359636,257832,685831,391896,293935,774580,432889,341691,870707,480989,389718
5,Ï†ÑÍµ≠,30~34,516827,330699,186128,522405,333818,188587,554883,354068,200815,618401,394553,223848,704883,446721,258162
6,Ï†ÑÍµ≠,35~39,451634,290387,161247,470332,303224,167108,480733,309622,171111,497117,320174,176943,521151,335937,185214
7,Ï†ÑÍµ≠,40~44,407777,260789,146988,400122,255715,144407,401653,256199,145454,427295,272915,154380,467949,299797,168152
8,Ï†ÑÍµ≠,45~49,455033,284359,170674,464099,290104,173995,470000,293435,176565,476521,299352,177169,482287,303753,178534
9,Ï†ÑÍµ≠,50~54,435035,257573,177462,450375,268111,182264,470795,280831,189964,497959,300477,197482,541978,327702,214276
10,Ï†ÑÍµ≠,55~59,512691,265621,247070,524069,274963,249106,528252,281601,246651,541536,294220,247316,558936,309288,249648
11,Ï†ÑÍµ≠,60~64,445869,198975,246894,494506,225311,269195,531357,243206,288151,580701,270517,310184,646566,306578,339988
12,Ï†ÑÍµ≠,65~69,359563,133121,226442,375398,141253,234145,401256,155021,246235,458284,180497,277787,529542,214596,314946
13,Ï†ÑÍµ≠,70~74,313648,88332,225316,330897,97349,233548,352769,107749,245020,382524,119128,263396,413137,132061,281076
14,Ï†ÑÍµ≠,75~79,329899,71059,258840,340000,74676,265324,343332,76987,266345,350191,79884,270307,358008,85037,272971
15,Ï†ÑÍµ≠,80~84,229716,41382,188334,246166,45461,200705,264647,49786,214861,278856,53063,225793,304030,59133,244897