# <div style="text-align:center">íŒŒì´ì¬ë°ì´í„°ë¶„ì„ í”„ë¡œì íŠ¸- 9ì£¼ì°¨ <br/> < 1ì¸ ê°€êµ¬ì˜ ë³€í™” ></div>

<div style="text-align: right"> <b>ê°•ë‚¨ëŒ€í•™êµ ê¸€ë¡œë²Œê²½ì˜í•™ë¶€ <br/> 201902126 í•œì„±ì£¼</b></div>
    

    
## ğŸ“ ëª©ì°¨

- ì£¼ì œ ì„ ì •
    
- ë¶„ì„ ë°©í–¥
    
- ê¸°ì´ˆ ë¶„ì„

- ì‹¬í™” ë¶„ì„
    
- ê²°ê³¼ ë° ì‹œì‚¬ì 
   
- ì°¸ê³  ë¬¸í—Œ

## 1. ì£¼ì œ ì„ ì •

    í”„ë¡œì íŠ¸ ê³¼ì œ 1ì°¨ ì œì¶œ ë‹¹ì‹œ ì§€ì—­ë³„ ê´€ê´‘ì§€ ë°©ë¬¸ì ìˆ˜ì™€ SNS ì¸ê¸° ëª…ì†Œì˜ ìƒê´€ê´€ê³„ë¥¼ ë¶„ì„í•˜ê³ ì í•˜ì˜€ìŠµë‹ˆë‹¤. í•˜ì§€ë§Œ êµìˆ˜ë‹˜ê»˜ ë°›ì€ í”¼ë“œë°±ì„ í†µí•´ ì´ ë°ì´í„° ë¶„ì„ ê²°ê³¼ê°€ ìœ ì˜ë¯¸í•˜ì§€ ì•Šì„ ê²ƒì´ë¼ íŒë‹¨í•˜ì—¬ ì£¼ì œë¥¼ ë³€ê²½í•˜ê¸°ë¡œ í•˜ì˜€ìŠµë‹ˆë‹¤. ë³´ë‹¤ í˜„ì‹¤ì ì´ë©´ì„œ ê°€ì¹˜ê°€ ìˆëŠ” ë°ì´í„° ë¶„ì„ ì£¼ì œë¥¼ ì°¾ê³ ì í•˜ì˜€ìŠµë‹ˆë‹¤. 
    
    í˜„ì¬ ì €ì˜ ê±°ì£¼ í˜•íƒœì¸ 1ì¸ ê°€êµ¬ì— ëŒ€í•œ ë°ì´í„° ë¶„ì„ì„ í•´ë³´ëŠ” ê²ƒì´ í¥ë¯¸ë¡­ê² ë‹¤ëŠ” ìƒê°ì„ í•˜ê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤. 1ì¸ ê°€êµ¬ì˜ ì—°ë„ë³„ ì¶”ì´ë¥¼ ë¶„ì„í•˜ê³  1ì¸ ê°€êµ¬ì˜ ìì‚°, ë¶€ì±„, ì†Œë¹„í˜•íƒœ, í˜¼ì¸ë¥  ë“±ì„ ë¶„ì„í•˜ì—¬ í˜„ëŒ€ì‚¬íšŒì—ì„œ 1ì¸ ê°€êµ¬ì˜ íë¦„ì„ íŒŒì•…í•˜ê³ ì í•˜ì˜€ìŠµë‹ˆë‹¤. ì´ì˜ ê²°ê³¼ì— ë”°ë¼ í˜„ì¬ ì‚¬íšŒ ë¬¸ì œì˜ í•´ê²° ë°©ì•ˆê¹Œì§€ ë„ì¶œí•˜ëŠ” ê²ƒì´ ì´ í”„ë¡œì íŠ¸ì˜ ëª©ì ì…ë‹ˆë‹¤.

## 2. ë¶„ì„ ë°©í–¥

    ìš°ì„ , ì„± ë° ì—°ë ¹ë³„ 1ì¸ê°€êµ¬ ë°ì´í„°ë¥¼ ë¶„ì„í•©ë‹ˆë‹¤. ì—°ë„ë³„ 1ì¸ ê°€êµ¬ ìˆ˜ì˜ ì¶”ì´ë¥¼ íŒŒì•…í•˜ê³ , ì„±ë³„, ë‚˜ì´ì— ë”°ë¥¸ ì°¨ì´ë„ í™•ì¸í•  ê²ƒì…ë‹ˆë‹¤. ì´ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ìì‚° í˜•íƒœ, ì†Œë¹„í˜•íƒœ, í˜¼ì¸ìƒí…Œ, ì†Œë“ ë“±ê³¼ ìƒê´€ê´€ê³„ë¥¼ ë¶„ì„í•©ë‹ˆë‹¤. í˜„ëŒ€ 1ì¸ ê°€êµ¬ì˜ ì‹¤íƒœë¥¼ íŒŒì•…í•˜ê³  ë¬¸ì œì ê³¼ í•´ê²° ë°©ì•ˆì„ ì œì‹œí•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

## 3. ê¸°ì´ˆ ë¶„ì„

- ì„±ë³„ ë° ì—°ë ¹ë³„ 1ì¸ê°€êµ¬ ë°ì´í„°ë¥¼ ë¶„ì„í•©ë‹ˆë‹¤.

In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('DB/Number_of_single-person_households_by_gender_age.csv', encoding='cp949')
print(df)

     í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬)     ì—°ë ¹ë³„     2017   2017.1   2017.2     2018   2018.1   2018.2  \
0    í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬)     ì—°ë ¹ë³„     1ì¸ê°€êµ¬       ë‚¨ì       ì—¬ì     1ì¸ê°€êµ¬       ë‚¨ì       ì—¬ì
1            ì „êµ­      í•©ê³„  5618677  2791849  2826828  5848594  2906320  2942274
2            ì „êµ­  20ì„¸ ë¯¸ë§Œ    61058    29108    31950    58154    27623    30531
3            ì „êµ­   20~24   393503   183578   209925   402476   183145   219331
4            ì „êµ­   25~29   568288   333886   234402   617468   359636   257832
..          ...     ...      ...      ...      ...      ...      ...      ...
332     ì œì£¼íŠ¹ë³„ìì¹˜ë„   65~69     3996     1656     2340     4209     1770     2439
333     ì œì£¼íŠ¹ë³„ìì¹˜ë„   70~74     3289     1087     2202     3549     1192     2357
334     ì œì£¼íŠ¹ë³„ìì¹˜ë„   75~79     3351      828     2523     3348      830     2518
335     ì œì£¼íŠ¹ë³„ìì¹˜ë„   80~84     2605      472     2133     2662      521     2141
336     ì œì£¼íŠ¹ë³„ìì¹˜ë„  85ì„¸ ì´ìƒ     2035      213     1822     2254      264     1990

        2019   2019.1   2019.2     2020   2020.1   2020.2     2021   2021.1  \
0       1ì¸ê°€êµ¬       ë‚¨ì       ì—¬ì     1ì¸ê°€êµ¬       ë‚¨ì       ì—¬ì     1ì¸ê°€êµ¬       ë‚¨ì
1    6147516  3053733  3093783  6643354  3304398  3338956  7165788  3583770
2      59415    28591    30824    76202    35708    40494    54052    25015
3     431750   194984   236766   492331   217262   275069   492845   217737
4     685831   391896   293935   774580   432889   341691   870707   480989
..       ...      ...      ...      ...      ...      ...      ...      ...
332     4584     1995     2589     5350     2376     2974     6327     2822
333     3757     1298     2459     4134     1440     2694     4510     1603
334     3373      812     2561     3368      886     2482     3692      998
335     2684      540     2144     2798      559     2239     3147      669
336     2434      330     2104     2533      369     2164     2881      444

      2021.2
0         ì—¬ì
1    3582018
2      29037
3     275108
4     389718
..       ...
332     3505
333     2907
334     2694
335     2478
336     2437

[337 rows x 17 columns]

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.head()

,í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬),ì—°ë ¹ë³„,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
0,í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬),ì—°ë ¹ë³„,1ì¸ê°€êµ¬,ë‚¨ì,ì—¬ì,1ì¸ê°€êµ¬,ë‚¨ì,ì—¬ì,1ì¸ê°€êµ¬,ë‚¨ì,ì—¬ì,1ì¸ê°€êµ¬,ë‚¨ì,ì—¬ì,1ì¸ê°€êµ¬,ë‚¨ì,ì—¬ì
1,ì „êµ­,í•©ê³„,5618677,2791849,2826828,5848594,2906320,2942274,6147516,3053733,3093783,6643354,3304398,3338956,7165788,3583770,3582018
2,ì „êµ­,20ì„¸ ë¯¸ë§Œ,61058,29108,31950,58154,27623,30531,59415,28591,30824,76202,35708,40494,54052,25015,29037
3,ì „êµ­,20~24,393503,183578,209925,402476,183145,219331,431750,194984,236766,492331,217262,275069,492845,217737,275108
4,ì „êµ­,25~29,568288,333886,234402,617468,359636,257832,685831,391896,293935,774580,432889,341691,870707,480989,389718

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬)  337 non-null    object
 1   ì—°ë ¹ë³„         337 non-null    object
 2   2017        337 non-null    object
 3   2017.1      337 non-null    object
 4   2017.2      337 non-null    object
 5   2018        337 non-null    object
 6   2018.1      337 non-null    object
 7   2018.2      337 non-null    object
 8   2019        337 non-null    object
 9   2019.1      337 non-null    object
 10  2019.2      337 non-null    object
 11  2020        337 non-null    object
 12  2020.1      337 non-null    object
 13  2020.2      337 non-null    object
 14  2021        337 non-null    object
 15  2021.1      337 non-null    object
 16  2021.2      337 non-null    object
dtypes: object(17)
memory usage: 44.9+ KB

In [23]:
df.describe()

,í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬),ì—°ë ¹ë³„,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
count,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337
unique,22,17,335,336,336,336,336,336,336,336,336,337,334,334,337,332,334
top,ìš¸ì‚°ê´‘ì—­ì‹œ,45~49,15202,1308,8704,2544,13000,5197,11674,1299,6812,1ì¸ê°€êµ¬,8591,4046,1ì¸ê°€êµ¬,200,5404
freq,16,21,2,2,2,2,2,2,2,2,2,1,2,2,1,2,2

In [25]:
df.describe(include='O')

,í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬),ì—°ë ¹ë³„,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
count,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337,337
unique,22,17,335,336,336,336,336,336,336,336,336,337,334,334,337,332,334
top,ìš¸ì‚°ê´‘ì—­ì‹œ,45~49,15202,1308,8704,2544,13000,5197,11674,1299,6812,1ì¸ê°€êµ¬,8591,4046,1ì¸ê°€êµ¬,200,5404
freq,16,21,2,2,2,2,2,2,2,2,2,1,2,2,1,2,2

In [26]:
for col in df.columns:
    if df[col].dtype == 'object': 
        categories = df[col].unique() 
        print(f'[{col}] ({len(categories)})')

[í–‰ì •êµ¬ì—­ë³„(ì‹œêµ°êµ¬)] (22)
[ì—°ë ¹ë³„] (17)
[2017] (335)
[2017.1] (336)
[2017.2] (336)
[2018] (336)
[2018.1] (336)
[2018.2] (336)
[2019] (336)
[2019.1] (336)
[2019.2] (336)
[2020] (337)
[2020.1] (334)
[2020.2] (334)
[2021] (337)
[2021.1] (332)
[2021.2] (334)